$fontFamily: "Montserrat";

$maxWidth: 1920;
$maxWidthContainer: 1325; //+40px safepadding
$safePadding: 20px;

$mainColor: #020202;
$solidGreen: #00ba2d;
$lightGreen: #64d370;
$lightRed: #f87676;
$lightWhite: #f5faff;
$lightGrey: #e5e5e5;
